.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    margin-top: 30px;
}

.card {
    width: 268px;
    height: 388px;
    margin: 0 auto;
    perspective: 1000px;
}