.wrapper {
    display: flex;
    justify-content: space-between;
}
.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--magenta);
    font-size: 1.1rem;
    cursor: pointer;
}