:root {
    --magenta: #F93ECA;
    --button-magenta: #F93ECA;
    --button-magenta-hover: #F300B6;
    --button-magenta-active: #B62E94;
    --button-magenta-disabled: #F970D7;
    --text: #252934;
    --text-dark: #0C1222;
    --text-light: #78819A;
}
