.root {
    background-color: #202736;
    background-image: url(../../assets/stars.svg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
    z-index: 1;
}

.root .wrapper {
    padding: 5rem 1rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.root .desc.full {
    grid-column-end: span 4;
    margin-bottom: 2rem;
}

.root .desc {
    grid-column-end: span 2;
    background: #ffffff58;
    padding: 2rem;
    text-align: justify;
}

@media only screen and (max-width: 1149px) {
    .root .desc.full {
        grid-column-end: -1;
    }

    .root .desc {
        grid-column-end: -1;
    }
}

/***** Contacts Items: Hover Animation *****/
.contactsList ul {
    list-style-type: none !important;
}

.contactsList ul li a {
    font-size: 1.4rem;
}

.contactsList ul li a::after {
    content: ' »';
    font-size: 1.4rem;
    color: transparent;
    transition: color 200ms;
}

.contactsList ul li a:hover::after {
    content: ' »';
    color: var(--magenta);
}

.contactsList a,
.contactsList a:visited {
    color: #fafafa;
}

.contactsList a:hover,
.contactsList a:active {
    color: var(--magenta);
}

