.button {
    background: var(--button-magenta);
    border-radius: 4px;
    min-height: 36px;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    max-width: 380px;
    padding: 6px 10px;
    letter-spacing: 0.06em;
    border: none;
    text-transform: uppercase;
    transition: color .25s ease, background-color .25s;
}

.button:disabled {
    background-color: var(--button-magenta-disabled);
    color: #fff;
}

.button:hover {
    background: var(--button-magenta-hover);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:active {
    background: var(--button-magenta-active);
    color: white;
    border: none;
}





