.root {
    background-color: #202736;
    background-image: url(../../assets/stars.svg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: calc(100vh - 50px);
    margin: 0 auto;
    z-index: 1;
}

.root .wrapper {
    padding: 5rem 1rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.root .desc.full {
    margin-bottom: 2rem;
}

.root .desc {
    display: flex;
    flex-direction: column;
    background: #ffffff58;
    padding: 2rem;
    text-align: justify;
}

.root section {
    padding-bottom: 30px;
}

.root section:last-child {
    padding-bottom: 0;
}
